.breadcrumbs {
  ul {
    display: flex;

    li {
      font-size: 1.4rem;
      padding: 3rem 0;
      text-transform: uppercase;

      a {
        color: $gray;

        &:hover {
          color: $blue;
        }
      }

      &::after {
        color: $gray;
        content: '/';
        padding: 0 2rem;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
