html,
body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100vw;
}

body {
  &.bg-blue {
    background: $lightest-blue;
  }
}

* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  position: relative;
}

figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  width: 100vw;

  & > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
  }
}

main {
  display: flex;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;

}

.padded {
  margin: 0 -1.5rem;
  padding-bottom: 3rem;

  & > * {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
